@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Published for Local - Development - Production </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Feature Branch 001</a>.</p>
</div>
